<h1 class="heading">My ideas</h1>

<ul id="tasks">
  <% @tasks.each do |task| %>
  <div class="task-container">
      <%= link_to task.title, task_path(task.id), class: 'container-index-text' %>
      <li>
        <%= link_to task.details, task_path(task.id), class:'details-text' %>
      </li>
        <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
          <i class="fa fa-trash-o col-md-1 erase" aria-hidden="true"></i>
        <% end %>
    </div>
  <% end %>
</ul>

<hr>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>

